# Tips and Trick Python Pandas 30

# Akses nilai variable dalam fungsi query

# Import Module

In [3]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.2.4
1.20.1

# Persiapan Data Frame

In [4]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), columns=cols)

df

    A   B   C   D   E
0   3   8  15  14  12
1  17   1   5   4  14
2   7  16  17   4   3
3  13   8  19  12   8
4   4  17  18  19  18

# Akses Nilai Variabel pada `query()`

Menampilkan baris pada query

In [5]:
df.query('A > 5')

    A   B   C   D   E
1  17   1   5   4  14
2   7  16  17   4   3
3  13   8  19  12   8

In [6]:
rerata = df['A'].mean()
rerata

8.8

In [7]:
df.query('A > @rerata')

    A  B   C   D   E
1  17  1   5   4  14
3  13  8  19  12   8