# Tips and Trick Python Pandas 05 !

# Membalik Urutan Garis Dan Kolom Pada Data Frame

# Import Module

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.2.4
1.20.1

# Buat Data Frame

In [2]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1,10,size=(n_rows, n_cols)), columns = cols)

df

   A  B  C  D  E
0  1  6  2  4  1
1  2  5  4  2  1
2  8  5  6  7  5
3  6  6  8  2  2
4  5  3  4  7  4

# Membalik Urutan Kolom

loc[mengatur baris, mengatur kolom]

In [3]:
df.loc[:, ::-1]

   E  D  C  B  A
0  1  4  2  6  1
1  1  2  4  5  2
2  5  7  6  5  8
3  2  2  8  6  6
4  4  7  4  3  5

# Membalik Urutan Baris

hanya butuh elemen pertama

In [4]:
df.loc[::-1]

   A  B  C  D  E
4  5  3  4  7  4
3  6  6  8  2  2
2  8  5  6  7  5
1  2  5  4  2  1
0  1  6  2  4  1

# Membalik Urutan Baris dan melakukan Penyesuaian Index

Menggunakan `reset_index` untuk melakukan penyesuaian index

In [5]:
df.loc[::-1].reset_index

<bound method DataFrame.reset_index of    A  B  C  D  E
4  5  3  4  7  4
3  6  6  8  2  2
2  8  5  6  7  5
1  2  5  4  2  1
0  1  6  2  4  1>