# Tips and Trick Python Pandas 28

# Mengenal Explode dan Implode pada Data Frame

# Import Module

In [1]:
import pandas as pd

print(pd.__version__)

1.2.4

# Persiapan Data Frame

In [2]:
d = {'Team':['DC', 'Marvel'],
    'Heroes' : [['Batman', 'Superman', 'Wonder Woman', 'Aquaman', 'Green latern', 'Shazam'],
               ['Iron Man', 'Captain America', 'Ant-Man', 'Black Panther', 'Captain Marvel']]}

df = pd.DataFrame(d)
df

     Team                                             Heroes
0      DC  [Batman, Superman, Wonder Woman, Aquaman, Gree...
1  Marvel  [Iron Man, Captain America, Ant-Man, Black Pan...

# Explode

`Explode()` adalah Memisahkan setiap item dari list untuk dijabarkan sesuai kelompok tertentu

In [4]:
df1 = df.explode('Heroes')
df1

     Team           Heroes
0      DC           Batman
0      DC         Superman
0      DC     Wonder Woman
0      DC          Aquaman
0      DC     Green latern
0      DC           Shazam
1  Marvel         Iron Man
1  Marvel  Captain America
1  Marvel          Ant-Man
1  Marvel    Black Panther
1  Marvel   Captain Marvel

# Implode

`Implode()` adalah menyatukan kembali baris-baris terpisah dalam kelompok tertentu

Buat Data Frame sederhana

In [7]:
d = {'Team':['DC', 'Marvel']}
df2 = pd.DataFrame(d)
df2

     Team
0      DC
1  Marvel

In [8]:
df2['Implode'] = df1.groupby(df1.index)['Heroes'].agg(list)
df2

     Team                                            Implode
0      DC  [Batman, Superman, Wonder Woman, Aquaman, Gree...
1  Marvel  [Iron Man, Captain America, Ant-Man, Black Pan...