# Tips and trick Python Pandas 31

# Mengenal tipe data ordinal pada Pandas

# Import Module

In [1]:
import pandas as pd

print(pd.__version__)

1.2.4

In [3]:
d = {'pelanggan':[11, 12, 13, 14],
    'kepuasan':['baik','cukup','buruk','cukup']} #tingkatan ordinal yang hanya dipahami manusia

df = pd.DataFrame(d)
df

   pelanggan kepuasan
0         11     baik
1         12    cukup
2         13    buruk
3         14    cukup

# Tipe Data Ordinal pada Pandas

In [5]:
from pandas.api.types import CategoricalDtype

tingkat_kepuasan = CategoricalDtype(['buruk', 'cukup', 'baik', 'sangat baik'],
                                   ordered=True)

df['kepuasan'] = df['kepuasan'].astype(tingkat_kepuasan)
df

   pelanggan kepuasan
0         11     baik
1         12    cukup
2         13    buruk
3         14    cukup

In [6]:
df = df.sort_values('kepuasan', ascending=True)
df

   pelanggan kepuasan
2         13    buruk
1         12    cukup
3         14    cukup
0         11     baik

In [7]:
df[df['kepuasan']>'cukup']

   pelanggan kepuasan
0         11     baik