# Tips and Trick Python Pandas 08 !

# Memeriksa Kesamaan antar Kolom (series) pada Data Frame

# Import Module

In [3]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.2.4
1.20.1

# Buat Data Frame

In [4]:
data = {'A':[15,15,18, np.nan, 12],
       'B':[15,15,18, np.nan, 12]}

df = pd.DataFrame(data)
df

      A     B
0  15.0  15.0
1  15.0  15.0
2  18.0  18.0
3   NaN   NaN
4  12.0  12.0

# Data Series

In [5]:
df['A']

0    15.0
1    15.0
2    18.0
3     NaN
4    12.0
Name: A, dtype: float64

# Tipe Data Series

In [6]:
type(df['A'])

pandas.core.series.Series

# Memeriksa Kesamaan dengan operator `==`

Kelemahan operator `==` adalah tidak bisa memeriksa kesamaan `Missing Values`

In [7]:
df['A'] == df['B']

0     True
1     True
2     True
3    False
4     True
dtype: bool

# Memeriksa Kesamaan dengan method `equals()`

In [8]:
df['A'].equals(df['B'])

True

# Memeriksa Kesamaan antar Dua Data Frame

1. Dengan Method `equals()`

In [9]:
df1 = df.copy(deep=True)

df.equals(df1)

True

2. Dengan Operator `==`

In [10]:
df == df1

       A      B
0   True   True
1   True   True
2   True   True
3  False  False
4   True   True