# Tips and Trick Python Pandas 12

# Membentuk Kolom `datetime` dari beberapa Kolom Data Frame

# Import Module

In [3]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.2.4
1.20.1

# Buat Data Frame

Kolom dibawah merupakan kolom bertipe data `integer`

In [5]:
data = {'day':[1,2,10,25,12],
       'month':[1,2,4,5,6],
       'year':[2000,2001,2010,2015,2020]}

df = pd.DataFrame(data)
df

   day  month  year
0    1      1  2000
1    2      2  2001
2   10      4  2010
3   25      5  2015
4   12      6  2020

# Membentuk kolom bertipe `datetime`

Nama kolom yang dimasukkan harus `'day','month,'year'`

In [10]:
df['penanggalan'] = pd.to_datetime(df[['day','month','year']]) #kolom yang ingin disertakan
df

   day  month  year penanggalan
0    1      1  2000  2000-01-01
1    2      2  2001  2001-02-02
2   10      4  2010  2010-04-10
3   25      5  2015  2015-05-25
4   12      6  2020  2020-06-12

In [11]:
df.dtypes

day                     int64
month                   int64
year                    int64
penanggalan    datetime64[ns]
dtype: object