# Tips and Trick Python Pandas 51

# Seleksi pada Data Frame dengan `between()`

# Import Module

In [2]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.2.4
1.20.1

# Buat Data Frame

In [3]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)),
                 columns=cols)
df

   A  B  C  D  E
0  6  7  1  7  9
1  7  1  1  3  6
2  4  5  3  3  3
3  5  6  9  1  5
4  4  7  1  8  9
5  1  8  3  9  4
6  9  6  3  6  5
7  8  6  2  4  3
8  8  6  4  9  9
9  4  8  5  9  7

# Seleksi Baris dengan `between()`

In [4]:
df[df['A'].between(2, 5)]

   A  B  C  D  E
2  4  5  3  3  3
3  5  6  9  1  5
4  4  7  1  8  9
9  4  8  5  9  7

In [5]:
df[df['A'].between(2, 5, inclusive=False)]

   A  B  C  D  E
2  4  5  3  3  3
4  4  7  1  8  9
9  4  8  5  9  7